# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

# ROOT-related files
*.root
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf

# dumper configs
Dumpers/dump_data_UL18.sh
Dumpers/dump_int_UL18.sh
Dumpers/dump_locally_VBF.sh
Dumpers/dump_resubmit_int_UL18.sh
Dumpers/dump_signal_UL18.sh

# This is a symlink created by setup.sh
DataFormats/src/classes_def.xml

MicroAOD/data/*

log_*

MetaData/work/Era*
MetaData/work/HGG*

untaggedTag*
